body {
    font-family: Muli, sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin: 0px auto;
    background-color: green;
    user-select: none;
}
h1 {
    text-align: center;
    font-size: 70px;
    color: #ffffff;
}

.link-container {
    margin: 0px auto;
    width: 300px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.link {
    position: relative;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
    font: xx-large;
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
    margin: 10px !important;
    font-size: 40px;
}
  
.link::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.link:hover {
    color: white;
}

.link:hover::after {
    height: 100%;
}
  
/* footer */
footer {
  text-align: center;
  color: #000000;
  margin-top: 5%;
}

footer a {
  color: #F3E8EE;
  text-decoration: none;
}